@import "../../responsive.scss";

.searchBar{ 
    .type{
        button{
            padding: 16px 24px;
            border: 1px solid #999;
            border-bottom: none;
            cursor: pointer;
            background-color: white;
            text-transform: capitalize;
            
            &.active{
                background-color: black;
                color: white;
            }
            
            &:first-child{
                border-top-left-radius: 5px;
                border-right: none;
            }
            
            &:last-child{
                border-top-right-radius: 5px;
                border-left: none;
            }
            
            @include sm{
                border-bottom: 1px solid #999;
                margin-bottom: 1px;

                &:first-child{
                    border-bottom-left-radius: 5px;
                    border-right: none;
                }
                
                &:last-child{
                    border-bottom-right-radius: 5px;
                    border-left: none;
                }
            }
        }   
    }
    form{
        border: 1px solid #999;
        display: flex;
        justify-content: space-between;
        align-items: center ;
        gap: 5px;
        padding-left: 13px;

        @include sm{
            border: none;
            flex-direction: column;
            width: 90%;
        }

        input{
            padding: 0px 10px;
            width: 100%;
            height: 5vh;
            border: none;
            
            @include sm{
                border: 1px solid #999;
            }
        }

        button{
            border: none;
            cursor: pointer;
            background-color: #fece51;
            width: fit-content;
            display: flex;
            align-items: center;
            flex-direction: row;
            padding: 8px;
            img{
                width: "20px";
                padding: "10px";
            }
            @include sm{
                align-self: center;
            }
            span{
                display: none;
                @include sm{
                    display: contents;
                    font-size: 20px;
                    color: white;
                    font-weight: 600;
                }
            }
        }
    }
}