@import "../../responsive.scss";

.homePage{
    display: flex;
    height: 100%;

    .textContainer{
        flex: 3;

        .wrapper{
            padding-right: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            height: 100%;

            .title{
                font-size: 50px;
            }

            .boxes{
                display: flex;
                justify-content: space-between;

                h1{
                    font-size: 36px;
                }

                h2{
                    font-size: 20px;
                    font-weight: 400;
                }
                
                @include sm{
                    flex-direction: column;
                }
                
                .box{
                    @include sm{
                        margin-bottom: 40px;
                    }    
                }
            }
        }
    }
    .imgContainer{
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;
        img{
            width: 110%;
            position: absolute;
            right: 0;
        }

        @include sm{
            display: none;
        }
    }
}